body{
  background-image: url(./travel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body .list h1 {
  text-align: center;
  font-size: 10rem;
  font-weight: bold;
  text-shadow: 2px 2px white;
}

body h1{
  font-family: 'Ruluko', sans-serif;
  color: #111;
  text-align: center;
}

main form .userinput .enter {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 40px;
  grid-row-gap: 40px;
  .div1 { grid-area: 2 / 4 / 5 / 6; }
  } 

li {
  color: #fff;
  font-family: 'Cedarville Cursive', cursive; 
  font-size: 25px;
}

body .List form{
  height: 5rem;
  margin-top: 15rem;
  display: flex;
  justify-content: right;
  align-content: right;
}

body .List input{
    margin: 1.5rem;
    width: 25rem;
}

body .List ul{
  margin-top: 50px;
  text-align: right;
  font-size: 3rem;
  font-weight: bold;
  text-shadow: 2px 2px white;
   
}

.List li{
  cursor: pointer;
 position: relative;
 transition: 0.2s;
 -webkit-transition: 0.2s;
 -moz-transition: 0.2s;
 -ms-transition: 0.2s;
 -o-transition: 0.2s;
}

#userinput {
  font-family: 'Cedarville Cursive', cursive; 
  font-size: 1.6rem;
}
