body{
  background-image: url(./travel.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body .list h1 {
  text-align: center;
  font-size: 10rem;
  font-weight: bold;
  text-shadow: 2px 2px white;
}

body h1{
  font-family: 'Ruluko', sans-serif;
  color: #111;
  text-align: center;
}


li {
  color: #fff;
  font-family: 'Cedarville Cursive', cursive; 
  font-size: 25px;
  justify-items: center;
  align-items: center;
}

body .List {
  height: 5rem;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
  align-content: center;
}

body .List input{
    margin: 1.5rem;
    padding: 1.5rem;
    width: 25rem;
}

body .List ul {
  margin-top: 50px;
  text-align: center;
  font-size: 3rem;
  text-shadow: 1px 1px white;
   
}

.List li{
  cursor: pointer;
 position: relative;
 transition: 0.2s;
 -webkit-transition: 0.2s;
 -moz-transition: 0.2s;
 -ms-transition: 0.2s;
 -o-transition: 0.2s;
}

#userinput {
  font-family: 'Cedarville Cursive', cursive; 
  font-size: 1.6rem;
  text-align: left;
}
